
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBaacLabel" data-translate="rsdataApp.baac.home.createOrEditLabel">Create or edit a Baac</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.baac.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.baac.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rsdataApp.baac.dateCreation" for="field_dateCreation">Date Creation</label>
                <div class="input-group">
                    <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" datetime-picker="{{dateformat}}" ng-model="vm.baac.dateCreation" is-open="vm.datePickerOpenStatus.dateCreation"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCreation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="rsdataApp.baac.valeur" for="field_valeur">Valeur</label>
            <select class="form-control" id="field_valeur" multiple name="valeur" ng-model="vm.baac.valeurs" ng-options="valeur as valeur.id for valeur in vm.valeurs track by valeur.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="rsdataApp.baac.accident" for="field_accident">Accident</label>
            <select class="form-control" id="field_accident" name="accident" ng-model="vm.baac.accidentId" ng-options="accident.id as accident.id for accident in vm.accidents"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rsdataApp.baac.vehicule" for="field_vehicule">Vehicule</label>
            <select class="form-control" id="field_vehicule" name="vehicule" ng-model="vm.baac.vehiculeId" ng-options="baac.id as baac.id for baac in vm.baacs"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rsdataApp.baac.rubrique" for="field_rubrique">Rubrique</label>
            <select class="form-control" id="field_rubrique" name="rubrique" ng-model="vm.baac.rubriqueId" ng-options="rubrique.id as rubrique.id for rubrique in vm.rubriques"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
